/************
L A Y O U T
************/
/* classes */
.leaflet-right {max-width:50%}

/************
   T Y P O
************/
/* elements */
.leaflet-popup-content-wrapper {opacity:.85;padding:1px 1.5em}
.leaflet-popup-content {font-size:1rem;padding:0 .5em 1em .85em;margin:0}
.leaflet-popup-content h6 {font-size:.85rem;color:#FA943F;margin:.75em 0 .25em 0}
.leaflet-popup-content ul {padding :0;margin:.5em 0}
.leaflet-popup-content li.fa {display:block;margin:.5em 0}

/************
 C O L O R S
************/
/* image location tweak : don't forget to fix image location in leaflet.css */
svg path {stroke:#FA943F;fill:#FA943F;stroke-width:2px}
.leaflet-popup-content h6 {color:#FA943F}

.marker-cluster>div {background:#A3AC01;background-image: linear-gradient(33deg,#FA943F,#A3AC01);}

/************
 R E S P O N S I V E
*************/
/* Larger than tablet */
@media (min-width:750px) {
	.leaflet-right {max-width:66%}
	}

/* Smoothing intervalue */
@media (min-width: 900px) {
	.leaflet-right {max-width:75%}
	}
