/******************/
/*  L A Y O U T   */
/******************/
* {box-sizing:border-box}

#title {height:120px !important}
#title .row {height:40px}
#title .high {height:80px}

.high h1 {float:left;padding:2em 1em}
.high h1, .high nav, .header {padding:.25em .5em}
.high nav {text-align:right}
.high nav .buttons li {display: inline-block;margin:0 .25em;padding:.5em;border-radius:3px}

.header, .footer {padding:.7em}

.row {padding:0 16px}
.contact {padding:1.5em 0 2em 0}

.c3 {margin:1.5em .25em;padding:1em;vertical-align:top;border-radius:2px}

.right {text-align:center;padding:1em}

.dense {margin:0;padding:.2em}

.fa-stack .label {display:none}
.fa-stack {margin:0}

.fa-v:before{content:"V"}

.float {float:left}

#addButton {position:absolute;bottom:1em;left:1em;z-index:42}
.hidden {display:none !important}

/*****************/
/*    T Y P O     */
/******************/
html {font-family: "Open Sans", monospace;font-size:1em}
.row {font-size:0}
.row h1, .row div, .row nav {font-size: initial}
.row nav .buttons li a {text-decoration:none;font-size:initial}

.header, .footer {text-align:center}

.fa-stack a {text-decoration: none}
.marker-cluster {text-align:center}
.marker-cluster span {display:block;margin-top:-1px}

}

/******************/
/*  C O L O R S    */
/*******************/

body {color:#606c71}
a {color:#A3AC01}
  a:hover {black}
  a:visited {color:#bdA700}

.high nav .buttons li {border:#A3AC01 solid 1px}
   .high nav .buttons li a {color:#A3AC01}
  .high nav .buttons li:hover {background:#ddd}


.header,.footer {color:#ddd;background:#333;background-image: linear-gradient(33deg,#FA943F,#A3AC01);}
  .header a, .footer a {color:white;font-weight:bold;text-decoration:none}


.c3 {box-shadow:0px 4px 9px #A3AC01}

.fa-stack {color:#A3AC01}
  .fa-stack a {color:white}
  .fa-stack:hover i {color:#bbb}
  .fa-stack:hover a {color:#A3AC01}

.center {text-align:center}

.marker-cluster>div {background:#A3AC01;background-image: linear-gradient(33deg,#FA943F,#A3AC01);}

#comment-fond {
  background:rgba(255,255,255,0.7);
  }

#commentaires {
  background:#A3AC01;
  color:white;
  }

#addButton:hover .fa-circle {color:#FA943F}

.buttons li, #addButton {cursor: pointer; cursor: hand;}
/***********************/
/* R E S P O N S I V E */
/***********************/

/* Printer */
@media print {
  }

/* Larger than mobile */
@media (min-width: 400px) {
  }

/* Larger than phablet */
@media (min-width: 550px) {
.high h1, .high nav {width:50%;display: inline-block}
  }

/* smaller than tablet */
@media (max-width: 750px) {

	}

/* Larger than tablet */
@media (min-width: 750px) {


  .header {text-align:left}
  .header p, .footer p {max-width:800px;margin:1em auto;}

  .right {text-align:right;padding}

  .c3 {width:49%;display: inline-block;margin:1em .5%}
  .c3:nth-child(3) {margin-left:25%}
  }

/* Smoothing intervalue */
@media (min-width: 900px) {


  }

/* Larger than desktop */
@media (min-width: 1000px) {
   .c3 {width:32%;display: inline-block;margin:1em .5%}
   .c3:nth-child(3) {margin-left:.5%}
  .row {max-width:1000px;margin:auto}

	}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

	}
